@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
a{
    text-decoration: none;
}
.section_1{
    position: relative;
    overflow: hidden;
}
.section_1 .bg{
    position: absolute;
    left:0px;
    top: -30px;
    width: 100%;
    height: 110%;
}
.section_1 .bg img{
    display: block;
    width: 100%;
    height: 100%;
}
.section_1 .header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,.9);
}
.section_1 .header .inner{
    width: 88%;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.section_1 .header .inner:before{
    content: '';
    display: block;
    clear: both;
}
.section_1 .header .inner:after{
    content: '';
    display: block;
    clear: both;
}
.section_1 .header .inner .logo{
    display: block;
    float: left;
    width: 80px;
    height: 64px;
    background: url("../img/logo.png") 0 12px no-repeat;
}
.section_1 .header .inner .myHome{
    display: block;
    float: right;
    width: 125px;
    height: 64px;
    line-height: 64px;
    text-decoration: none;
    font-size: 13px;
    color: #444;
}
.section_1 .header .inner .myHome>img{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 50%;
    vertical-align: top;
}
.section_1 .content{
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}
.section_1 .content .title_1,.section_4 .content .title_1{
    font-size: 45px;
    font-weight: 400;
    padding-top: 44px;
    padding-bottom: 11px;
}
.section_1 .content .title_2,.section_4 .content .title_2{
    font-size: 26px;
    font-weight: 300;
    color: #777;
    padding-bottom: 50px;
}
.section_1 .content .button,.section_4 .content .button{
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 60px;
    color: white;
    font-size: 20px;
    line-height: 60px;
    border-radius: 100px;
    background: #ff7d7c;
}
.section_2{
     position: relative;
     overflow: hidden;
 }
.section_2 .img_2{
    position: absolute;
    left: 107px;
    bottom: 80px;
    opacity: 0;
    width: 683px;
    height: 459px;
    background: url("../img/home_2.png") no-repeat;
    background-size: cover;
    transition: all 1.3s;
}
.section_2 .article{
    position: absolute;
    right: 213px;
    top: 160px;
    opacity: 0;
    transition: all 0.7s;
}
.section_2 .article .line,.section_3 .article .line{
    width: 42px;
    height: 2px;
    background: #000;
}
.section_2 .article .title,.section_3 .article .title{
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0 40px;
}
.section_2 .article .word,.section_3 .article .word{
    font-weight: 400;
    line-height: 32px;
}
.active .img_2{
    bottom: 135px;
    opacity: 1;
    transition-delay: 0.7s;
}
.section_3{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.section_3 .img_3{
    position: absolute;
    left: 245px;
    bottom: 0px;
    opacity: 0;
    width: 410px;
    height: 520px;
    background: url("../img/home_3.png") no-repeat;
    background-size: contain;
    transition: all 1.3s;
}
.section_3 .article{
    position: absolute;
    right: 213px;
    top: 200px;
    opacity: 0;
    transition: all 0.7s;
}
.active .img_3{
    bottom: 75px;
    opacity: 1;
    transition-delay: 0.7s;
}
.active .article{
    opacity: 1;
    transition-delay: 1.4s;
}
.section_4{
    position: relative;
    overflow: hidden;
}
.section_4 .bg{
    position: absolute;
    left:0px;
    top: -30px;
    width: 100%;
    height: 110%;
}
.section_4 .bg img{
    display: block;
    width: 100%;
    height: 100%;
}
.section_4 .content{
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
}
.next{
    position: absolute;
    display: block;
    opacity: 0;
    bottom: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 34px;
    animation-name: Next;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    transition: all 1s;
}
.next>img{
    width: 100%;
    height: 100%;
}
@keyframes Next {
    0%{
        opacity: 0;
        bottom: 60px;
    }
    90%{
        opacity: 1;
        bottom: 44px;
    }
    100%{
        opacity: 0;
        bottom: 41px;
    }
}
.active .next{
    opacity: 1;
    transition-delay: 0.7s;
}