@charset "UTF-8";
.btn-toolbar{
    border: 1px solid black;
}
.btn-toolbar .btn-group{
    display: inline-block;
}
.btn-toolbar .btn-group .btn{
    display: inline-block;
    width: 34px;
    height: 30px;
    vertical-align: top;
    /*background: white;*/
}
.btn-toolbar .btn-group .btn i{
    color: #AAAAAA;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-style: normal;
}
.btn-toolbar .btn-group .btn i:hover{
    background: #FAFAFA;
    color: #666;
}
 .btn-toolbar .btn-group .font-size{
     width: 63px;
 }
@font-face {
    font-family: 'iconfont';
    src: url('../../font-icon/cuti/iconfont.eot'); /* IE9*/
    src: url('../../font-icon/cuti/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../font-icon/cuti/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../font-icon/cuti/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../font-icon/cuti/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.cuti{
    font-family:"iconfont" !important;
    font-size:22px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.btn-toolbar .btn-group .dropdown-menu{
    position: absolute;
    z-index: 10;
    list-style: none;
    background: white;
    border: 1px solid #e3e3e3;
    /*display: none;*/
}
.open .dropdown-menu{
    display: block;
    padding: 5px 0;
}
.btn-toolbar .btn-group .dropdown-menu li{
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.btn-toolbar .btn-group .dropdown-menu li:hover{
    background: #FC8383;
    color: white;
}